*{
  margin: 0;
  padding: 0;

}
#header{
        height: 100vh;
        background-image: url(donut7.png);
        background-position: center;
        background-size: cover;
    
}
.container{
      margin-right: 100px;
      magin-left: 100px;
}  
.logo{
     margin-top: 40px;
     margin-left: 40px;
     width: 100px;
    }
.header-text{
      max-width: 450px;
      margin-top: 40px;
      margin-left: 40px;
    }     
h1{ font-size: 34px;
    } 
p{
  font-size: 15px;
  line-height: 18px;
  colour: #777;
}
.square{
  height: 12px;
  width: 12px;
  display: inline-block;
  background: #f67c92;
  margin: 25px 0;
}
.common-btn{
     padding: 18px 40px;
     background: transparent;
     outline: none;
     border: 2px solid #f67c92;
     font-weight: bold;
     cursor: pointer;
}
.header-text button{
       margin-top: 20px;
       margin-bottom: 60px;
}
.line-1{
      width: 15px;
      height: 15px;
      background: #f67c92;
      display: inline-block;
}
.line-2{
  width: 80px;
  height: 1px;
  background: #f67c92;
  display: inline-block;
}
.line-3{
  width: 60px;
  height: 1px;
  background: #f67c92;
  display: inline-block;
}
.line{ 
  line-height: 8px;
}
#sideNav{
  width: 250px;
  height: 100vh;
  position: fixed;
  right: -250px;
  top: 0;
  background: #f67c92;
  z-index: 2;
  transition: 0.5s;
}
nav ul li{
    list-style: none;
    margin: 50px 20px;
}
nav ul li a{
  text-decoration: none;
  color: #fff;
}
#menuBtn{
  width: 50px;
  position: fixed;
  right: 22px;
  top: 35px;
  z-index: 2;
  cursor: pointer;
}

/*----about---*/
#about,#offer{ 
  background: url(about.png);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  padding-right: 40px;
  margin: 50px 0px;
  padding-bottom: 100px;
}
.about-left-col{
  flex-basis: 50%;
}


.about-left-col img{
     size: 20px;
     width: 100%;
}
.about-right-col{
  flex-basis: 50%;
}
.about-right-col{
  border-right: 5px;
  flex-basis: 50%;
  text-align: right;
 }
 .about-text{
   max-width: 500px;
   margin-right: 100px;
   display: inline-block;
 }
 .about-text h2{
   margin: 50px 0 10px;
   font-size:28px;
   font-style: italic;
 }
 .about-right-col h4{
  color: #797979;
  font-size:18px;
  font-style: italic;
}


/*----feature----*/

#features{
    padding-top: 50px;
    padding-bottom: 50px;
}
.feature-row{
     width: 80%;
     margin: auto;
     display: flex;
     align-items: center;
     justify-content: space-around;
     flex-wrap: wrap;     
}
 
.feature-col img{
      width: 100px;
}
.feature-col h4{
      margin-bottom: 15px;
      font-size: 20px;
      font-weight: 400;
}
.feature-btn{
     margin: 80px auto 0;
     display: flex;
     align-items: flex-end;
     justify-content: center;
}
.feature-btn .line{
     text-align: right;
     display: inline-block;
     margin-right: 25px;
}


/*---careers---*/
#careers{
    padding: 100px 0;
    background-image: url(Delicate.jpg);
    background-size: cover;
}
.careers-row{
     display: flex;
     align-items: center;
     flex-wrap: wrap;
}
.careers-right-col{
     flex-basis: 50%;
}
.careers-right-col img{
  width: 100% ;
}
.careers-left-col{
  flex-basis: 50% ;
}
.career-text{
  max-width: 350px;
}
.career-text button{
  margin: 30px 0;
}

.carrers-text{
  max-width: 650px;
  margin-top: 40px;
  margin-left: 90px;
}     
.careers-right-col {
  background: url(course.png);
  background-repeat: no-repeat ;
  background-position: right;
  background-size: contain;
  height: 500px;
  margin-top: -150px;
 }




 /*---offer---*/

#offer button{ margin: 30px 0px; }

/*--contact--*/

.contact row{
    display:flex;
    align-items: center;
    flex-wrap: wrap;
}

.contact-left-col,.contact-right-col{
  flex-basis: 50px;
  text-align: left;
}

.contact-right-col img{
  width: 100%;
}

.contact-right-col {
  background: url("contact1.png");
  background-repeat: no-repeat ;
  height: 400px;
  background-size: contain;
  background-position: right;
  margin-top: -380px;
}

.copyright-text {
  float: left;
}

 #contact h1{margin-left: 120px;}
  form{
     max-width: 350px;
     margin: 40px 90px;
  }
 

 form input{
   width: 332px;
   padding: 12px 10px;
   margin-left: 10px;
   margin-bottom: 5px;
   outline: none;
   box-shadow: none;
   box-sizing: border-box;
   border: 2px solid #fab3c4;
 }
.btn-box{ width: 100%;
  display: flex;
  justify-content: space-between;
  margin: 6px 0px;

}
.btn-box button{
  flex-basis: 48%;
  padding: 18px 0;
}

.contact-btn{
  margin: -20px auto 0;
  display: flex;
  align-items: flex-end;
  justify-content: left;
}
.contact-btn .line{
  text-align: left;
  display: inline-block;
  margin-left: 100px;
}

.carrers-right-col {
  background-image: url(course.png);
  background-position: right;
  background-size: contain;
  height: 500px;
  background-repeat: no-repeat;
  float: right;
  width: 500px;
  margin-top: -480px;
}

/*----footer----*/

#footer{
  padding: 50px 0 30px;
}

hr{
margin: 40px 30px;  width: 100%;
  border: 0;
  border-top: 2px solid #f67c92;

}

.footer-row{
  margin:40px 30px;
  display:flex;
  align-items: center;
  justify-content: left;
  flex-wrap: wrap;
}

.footer-left-col{
  margin: 40px 30px;
  flex-basis:35%;
  margin-top: 50px;
}
.footer-right-col{
  
  flex-basis: 35%;
  justify-content: center;
  margin: 30px 630px;
 
}

.footer-links{
   
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;

}
.link-title h4{
    color: #fab3c4;
    margin-bottom: 20px;
}
.link-title small{
  font-size: 13px;
  color: #777;
}


.footer-info{
  display:flex;
  align-items: flex-end;
  justify-content: space-between;
  flex-wrap: wrap;
}
.footer-logo img{
  width: 200px;
  margin: 0px 80px;
}
.footer-logo button{
  padding:12px 38px;
  margin-top: 20px;
  font-size: 10px;
  
}
 
.copyirght-text, .footer-logo{
  flex-basis: 40%;

}

/*---social-icons---*/
.social-icons{
  width: 50px;
  position: fixed;
  top: 0;
  left: 0;
  z-index:1 ;
  margin-top: 50px;
}

.social-icons img {
  width: 40px;
  display: block;
  margin: 0 auto 10px;
  cursor: pointer;
}

  @media only screen and (max-width:770px){
    #header{
      background-image: none;
    }
    .container{
      margin-right: 50px;
      magin-left: 50px;
    }  
    .logo{
     margin-top: 27px;
     margin-left: 27px;
     width: 70px;
    }
    .header-text{
     
      margin-top: 100px;
      margin-left: 40px;
    }     
   h1{ font-size: 25px;
    } 
   p{
     font-size: 15px;
     line-height: 18px;
      colour: #777;
    }
    #menuBtn{
      width: 40px;
      right: 50px;
      
    }
    .common-btn{
      padding: 10px 16px;
    }
    .social-icons img {
      width: 14px;  
      margin: 15px auto ;
      }
      .about-left-col, .about-right-col{
        flex-basis: 100%;
      }
      
      .about-text{
        
        margin: 50px 50px 0;
        display: inline-block;
      }
      .about-text h2{
        font-size:18px;
       }
       .feature-col{
        flex-basis: 100%;
        margin-bottom: 20px;
        } 
        .careers-left-col,.contact-right-col{
          flex-basis: 100%;
          margin-top: 70px;
        }
        .contact-left-col,.contact-right-col{
          flex-basis: 100px;
    
        }
        .contact-right-col{
          margin-top: 50px;
        }
         
        .footer-left-col,.footer-right-col{
          flex-basis: 100px;
        }
        .link-title{
          flex-basis: 50%;
          margin-bottom: 30px;
        }
    
        
            

   }
















